<!doctype html>
<html ng-app="ajaxApp">
 <head><title>AngularJS with YottaDB</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <!--<script src="/lib/angular-1-7-8.min.js"></script>-->
  <script src="exangularjs.js"></script>
 </head>
 <body ng-controller="Controller as q">
  <table>
   <tr><th>ID:</th><td>
    <input size="3" ng-model="q.id"/>
    <input type="button" value="Load" ng-click="q.load()"/>
   </td></tr>
   <tr><th>Vorname:</th><td>
    <input type="text" ng-model="q.address.VN">
    <tr><th>Nachname:</th><td>
    <input type="text" ng-model="q.address.NN"></th></tr>
   <tr><th></th><td>
    <input type="button" value="Save" ng-click="q.send()"/>
   {{q.savetext}}</td></tr>
  </table>
 </body>
</html>
